.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container > p {
  text-align: center;
}
.number{
  margin-bottom: 32px;
}

.icon {
  margin: 60px 0;
}

.status {
  margin-bottom: 8px;
}

.comment {
  margin-bottom: 120px;
}
