.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.burgerElement {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  margin-left: 4px;
}
