.order {
  display:flex;
  flex-direction: column;
  padding: 24px;
  background: var(--background);
  border-radius: 40px;
}
.order:hover {
  cursor: pointer;
}

.order:not(:first-of-type) {
  margin: 16px 0px;
}

.info {
  display:flex;
  justify-content: space-between;
}
.title {
  padding-top: 12px;
  padding-bottom: 24px;
}
.ingredients {
  display:flex;
  justify-content: space-between;
}
.priceInfo {
  display: flex;
  align-items: center;
}
.price {
  padding-right: 8px;
}
.images {
  display: flex;
}

.imageContainer {
  position: relative;
  height: 64px;
  width: 64px;
  border: 3px solid var(--colors-interface-accent);
  border-radius: 50%;
  background: var(--background-alt);
}
.image {
  height: 64px;
  width: 64px;
  object-fit: cover;
  right: 10px;
}

.additionalCount {
  position: relative;
  right: -20px;
  bottom: 48px;
}
